<script>
import {Icon, Row, Col, Tab, Tabs, Block, Page, Navbar, NavLeft, Link, NavTitle, NavRight, NavTitleLarge, Toolbar } from 'framework7-svelte';
</script>
  
   <Toolbar position = {'bottom'} tabbar scrollable = {true}>
   <Row>
      <Col width = "15">
        <Link tabLink="#tabs-1" tabLinkActive>   
            <i class="f7-icons">menu</i>
        </Link>
      </Col>
      <Col width = "15">
        <Link tabLink="#tabs-2" >
            <i class="f7-icons">gift</i>
        </Link>
      </Col>
      <Col width = "15">
        <Link tabLink="#tabs-3">
            <i class="f7-icons">cart</i>
        </Link>
      </Col>
      <Col width = "15">
        <Link tabLink="#tabs-4">
           <i class="f7-icons">doc_chart</i>
        </Link>
      </Col>
      <Col width = "30">
        <Link tabLink="#tabs-5" >
            <i class="f7-icons">ellipsis</i>
        </Link>
      </Col>
    </Row>
  </Toolbar>



   <Tabs>
    <Tab id="tabs-1" class="page-content" tabActive>
      
    </Tab>
    <Tab id="tabs-2" class="page-content" >
    </Tab>
    <Tab id="tabs-3" class="page-content" >
    </Tab>
    <Tab id="tabs-4" class="page-content" >
    </Tab>
    <Tab id="tabs-5" class="page-content" >
    </Tab>
    </Tabs> 
  
  <style>
 
  :global(.row){
    width: 100%
  }
  :global(.toolbar-bottom){
      --f7-toolbar-height: 50px;
      --f7-toolbar-bg-color: #f7f7fc12;
      --f7-theme-color: #f7f7fc12;
      --f7-toolbar-height: 65px;
  }
  :global(.toolbar-bottom .toolbar-inner){
    padding-bottom: 30px;
  }
 :global(.link){
    font-weight: 600;
    text-align: left;
    width: 82px !important;
    height: 31px !important;
    font-size: 14px;
    margin: 0 6px; 
    --f7-tabbar-link-inactive-color: rgb(111, 104, 104);
    --f7-tabbar-link-active-bg-color: white;
    --f7-tabbar-link-active-color: rgb(127, 200, 74);
  }
  :global(.col){
    margin-left: -17px;
  }
  </style>