<script>
import { onMount } from "svelte";
import {Tab, Tabs, Block, Page, Navbar, NavLeft, Link, NavTitle, NavRight, NavTitleLarge, Toolbar } from 'framework7-svelte';
export let tabs={}
 
  onMount(async () => {
		const res = await fetch(`../static/json/main.json/`);
        tabs = await res.json();
  });
</script>
   
<Toolbar tabbar scrollable = {true}>
  {#each tabs as tab, index} 
    <Link links tabLink={`#tab-${tab.id}`} tabLinkActive={index === 0}>{tab.title}</Link>
  {/each} 
</Toolbar>

<Tabs>
  {#each tabs as tab, index}
    <Tab id={`tab-${tab.id}`}
        class="page-content"
        tabActive={index === 0}>
    </Tab>  
  {/each} 
</Tabs>
    
<style>
  :global(.toolbar){
      --f7-toolbar-height: 50px;
      background-color: rgb(255, 255, 255);   
  }
 :global(.link[links="true"]){
    border: 1px solid rgb(127, 200, 74);
    font-weight: 600;
    text-align: left;
    border-radius: 31px;
    text-decoration: none; 
    width: 82px !important;
    height: 28px !important;
    font-size: 10px;
    margin: 0 6px; 
    text-transform: unset;
   --f7-tabbar-link-active-bg-color: rgb(127, 200, 74);
   --f7-tabbar-link-active-color: white;
   --f7-tabbar-link-inactive-color: rgb(127, 200, 74);
  }
  :global(.tab-link-active[links="true"]){
     box-shadow: 0px 9px 16px -9px rgb(127, 200, 74);
  }
</style>