<script>
import About from './about.svelte';
  import {
    List,
    ListItem,
    Row,
    Col,
    Button,
    Icon
  } from 'framework7-svelte';
   import Icons from './icon-click.svelte';
 export let f7params = {
    id: 1,
    title: "Test", // App name
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.", // Automatic theme detection
    price: "$15",
    quantity: "5.0 | 600g",
    img: "https://cdn.framework7.io/placeholder/nature-500x500-7.jpg"
  };
</script>
 
  <List mediaList inset>
    <ListItem
      title={f7params.title}
      after={f7params.price}
      text={f7params.text}
    >
      <img alt = 'image1' slot="media" src={f7params.img} width="130"/>
      <div class = 'inner' slot="inner">
        <Icon material="star_rate" />
        <span>{f7params.quantity}</span>
      </div>
      
      <div slot="inner" class="inner">
        <Row noGap>
          <Col width="40" medium = "20" large = "15">
            <Icons />
          </Col>
          <Col width="50" medium = "30" large="20">
            <Button segmented-raised-ios class='ios' fill round>
              Add to Cart
            </Button>
          </Col>
        </Row>
      </div>
    </ListItem>
  </List>

<style>

:global(.button){
  --f7-button-font-size: 10px;
  --f7-button-text-transform: none;
  height: 21px;
  line-height: 20px;
  --f7-button-border-radius: 12px; 
  box-shadow: -1px 12px 11px -5px rgb(127, 200, 74);
}
:global(.item-media img){
  border-radius: 16px;
  margin-left: -55px;
  margin-top: -20px;
} 
:global(.item-title){
  font-size: 13px;
}
:global(.item-title-row){
  margin: 0 0 5px;
}
:global(.item-media){
  padding: 0 !important
}
:global(.media-item){
  box-shadow: 10px 2px 7px 6px #d7cfcf;
  border-radius: 13px;
}
:global(.item-inner){
  --f7-list-item-padding-vertical: 10px;
}
:global(.icon) {
    font-size: 13px;
    color: rgb(127, 200, 74);
}
:global(.row .icon) {
  font-size: 18px;
}
:global(.inner){
  font-size: 10px;
  font-weight: 600;
  margin: 8px 0 9px 0;
}   

</style>
