<script>
import About from './about.svelte';
  import {
    Row,
    Col,
    Icon
  } from 'framework7-svelte';
  let a = 1;
    function addProduct(){
        a++
    }
    function reduceProduct(){
       a--
    }
</script>
<Row noGap>
    <Col onClick = {addProduct} width="40">
        <Icon style = "cursor: pointer" material="add_circle" />
    </Col>
    <Col width="35">
        <span class="prod-count">
         {#if a >= 1}
           {a--}
         {:else}
           {a = 1}
         {/if}
        </span >
    </Col>
    <Col onClick = {reduceProduct} width="25">
        <Icon style = "cursor: pointer" material="remove_circle" />
    </Col>
</Row>
<style>
.prod-count{
    border: 1px solid black;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 2px;
    border-color: rgb(127, 200, 74);
}
</style>