<script>
  import { onMount } from "svelte";

  import {f7, f7ready, App, View, Views, router, Page} from "framework7-svelte";

  import routes from "@/js/routes";
  import Navbar from "@/pages/header.svelte";
  import Home from "@/pages/home.svelte";
  import Footer from "@/pages/footer.svelte";

  let f7params = [{
    title: "Test1",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.", // Automatic theme detection
    quantity: "5.0 | 600g",
    price: "$15",
    count: 1
  }];

  onMount(async () => {
		const res = await fetch(`static/json/main.json/`);
        f7params = await res.json();
       
  });
 
</script>

<App >
     <Views tabs>
      <View  id="tab-0" tab  tabActive url="/about" >
        <Page >
        <Navbar />
       {#each f7params as param, i}
          <Home f7params = {f7params[i]}/>
       {/each}
       <Footer /> 
       </Page>
      </View>
    </Views>  
</App>
