
:root{
  --f7-theme-color: rgb(127, 200, 74); 
  --f7-page-bg-color: #f7f7fc12;
  --f7-list-border-color: rgba(255, 255, 255, 0.15);
  --f7-list-inset-side-margin: 16px;
  --f7-list-item-cell-margin: 16px;
  --f7-list-inset-side-margin: 58px;
  --f7-safe-area-outer-right: -27px;
  --f7-list-item-text-font-size: 12px;
  --f7-list-item-after-text-color: rgb(127, 200, 74);
  --f7-list-item-after-font-weight: 600;
  --f7-list-item-text-line-height: 15px;
  --f7-list-item-title-font-weight: 600;
  --f7-list-item-title-text-color: rgb(31, 29, 29);
  --f7-list-item-text-text-color: rgb(31, 29, 29);
  --f7-list-item-after-font-size: 13px;
  --f7-font-family : 'Molengo'; 
}
.ios{
--f7-button-font-size: 13px;
}
/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

